.box-latest {
    padding-top: calc(3 / 3 * 70%);
    background-size: contain ;
    background-position: center;
    background-repeat: no-repeat;
    
  }

 .container-user {
     height: 50vh;
 }

 .modal-bg {
     position: fixed;
     width: 100%;
     height: 100vh;
     top : 0;
     left: 0;
     background-color: rgba(0, 0,0, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     visibility: hidden;
     opacity: 0;
     transition: visibility 0s opacity0, 5s;
 }

 .bg-active {
     visibility: visible;
     opacity: 1;
 }
 .modal {
     background-color: seashell;
     top: 30%;
     left: 20%;
     right: 30%;
     bottom: 40%;
     display: inline;
 }